.sc-ion-buttons-md-s ion-button:not(.button-round) {
    --border-radius: 30vw;
    width: 30%;
    height: 30vw;
    margin: auto 0;
    /* bottom: 10vw; */
    // top: 50vh;
    // position: relative;
}