<ion-header>
  <ion-toolbar color="primary">
    <ion-title>注册</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list lines="none" color="primary" style="margin-top: 10px; padding: 20px;">
    <!-- <ion-item> -->
    <!-- <ion-label position="stacked" style="margin: 10px;">以下为必填项&nbsp;<ion-text color="danger">*</ion-text></ion-label> -->
    <!-- </ion-item> -->

    <!-- <ion-item>
      <ion-label position="fixed">学号/工号&nbsp;<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" [(ngModel)]="signup.userId" placeholder="未设置"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">姓名&nbsp;<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="signup.name" placeholder="未设置"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="fixed">手机号&nbsp;<ion-text color="danger">*</ion-text>
      </ion-label>
      <!-- <ion-input type="text" [(ngModel)]="signup.phone" placeholder="未设置"></ion-input> -->
      <ion-input name="phone" type="number" placeholder="未设置" required
        pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,3,5-9]))\d{8}$" [(ngModel)]="signup.phone"
        #phone="ngModel">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">密码&nbsp;<ion-text color="danger">*</ion-text>
      </ion-label>
      <!-- <ion-input type="password" [(ngModel)]="signup.password" placeholder="未设置"></ion-input> -->
      <ion-input type="password" required [(ngModel)]="signup.password" placeholder="未设置" name="password"
        #password="ngModel" pattern="[0-9a-zA-Z]{6,12}">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">确认密码&nbsp;<ion-text color="danger">*</ion-text>
      </ion-label>
      <!-- <ion-input type="password" [(ngModel)]="confirmPassword" placeholder="未设置"></ion-input> -->
      <ion-input type="password" required [(ngModel)]="confirmPassword" placeholder="未设置" name="cpassword"
        #cpassword="ngModel" pattern="[0-9a-zA-Z]{6,12}">
      </ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label>身份&nbsp;<ion-text color="danger">*</ion-text></ion-label>
      <ion-select value="3" (ionChange)="onChangepermission($event)" [(ngModel)]="signup.permission"
        interface="action-sheet" placeholder="未设置">
        <ion-select-option value="2">教师</ion-select-option>
        <ion-select-option value="3">学生</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item detail [routerLink]="['/organization']" [queryParams]="{'fromUrl': '/h5assport/signup'}">
      <ion-label>组织</ion-label>
      <ion-note class="smallnote" >{{signup.school}} {{signup.college}}</ion-note>
    </ion-item> -->
    <ion-item>
      <ion-label position="fixed">验证码&nbsp;<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="signup.verifyCode" placeholder="未设置" name="code" #code="ngModel" required></ion-input>

    </ion-item>


    <ion-button expand="full" color="primary" (click)="getverifyCode()" disabled="{{verifyCode.disable}}"
      style="padding-top:3%;">
      {{verifyCode.verifyCodeTips}}</ion-button>


    <!-- <ion-item> -->
    <ion-text class="ion-text-left" color="danger" *ngIf="phone.invalid && phone.touched || submited">
      <h5 [hidden]="!phone.errors?.required" class="padding-start">请输入手机号码</h5>
      <h5 [hidden]="!phone.errors?.pattern" class="padding-start">您输入的手机号格式不正确</h5>
    </ion-text>
    <!-- </ion-item>
    <ion-item> -->
    <ion-text text-left color="danger" *ngIf="password.invalid && password.touched">
      <h5 [hidden]="!password.errors?.required" padding-start>请输入登录密码</h5>
      <h5 [hidden]="!password.errors?.pattern" padding-start>密码格式错误</h5>
    </ion-text>

    <ion-text text-left color="danger" *ngIf="cpassword.invalid && cpassword.touched">
      <h5 [hidden]="!cpassword.errors?.required" padding-start>请确认密码</h5>
      <h5 [hidden]="!cpassword.errors?.pattern" padding-start>密码格式错误</h5>
    </ion-text>

    <ion-text text-left color="danger" *ngIf="code.invalid && code.touched">
      <h5 [hidden]="!code.errors?.required" padding-start>请输入验证码</h5>
    </ion-text>
    <!-- </ion-item> -->
    <!-- <ion-item-divider></ion-item-divider> -->
    <!-- <ion-item>
      <ion-label>学校</ion-label>
      <ion-select (ionChange)="onChangeschool($event)"
        interface="action-sheet">
        <ion-select-option [value]="item" *ngFor="let item of schools">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>学院</ion-label>
      <ion-select (ionChange)="onChangecollege($event)" [(ngModel)]="signup.college"
        interface="action-sheet" [disabled]="isCollegeShow">
        <ion-select-option [value]="item.name" *ngFor="let item of colleges">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item> -->

  </ion-list>
</ion-content>

<ion-footer>
  <div class="ion-padding">
    <ion-button (click)="onSubmit()" expand="block" class="ion-no-margin">
      提交
    </ion-button>
  </div>
</ion-footer>