<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>创建课程</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider style="padding: 10%">
    <ion-thumbnail style="margin: auto; width: 30%; height: auto;">
      <img src='assets\img\class_icon.png'>
    </ion-thumbnail>
  </ion-item-divider>
  <ion-list style="margin: 2% 3% 2% 3%;">
    <ion-item-group>
      <ion-item>
        <ion-label class="label-padding">课程名称</ion-label>
        <ion-input type="text" [(ngModel)]="course.name" placeholder="未设置"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>班级</ion-label>
        <ion-input type="text" [(ngModel)]="course.classNumber" placeholder="未设置"></ion-input>
      </ion-item>
      <ion-item  (click)="pickerFn(2, termOptions[0].length, termOptions, '学期')" detail>
        <ion-label>学期</ion-label>
        <ion-note class="smallnote" slot="end">{{course.term}}</ion-note>
        <!-- <ion-picker-controller>学期</ion-picker-controller> -->
        <!-- <ion-input type="text" [(ngModel)]="course.term" placeholder="未设置"></ion-input> -->
      </ion-item>
      <ion-item (click)="onDetail()">
        <ion-icon *ngIf="!detail" slot="end" name="chevron-down-outline"></ion-icon>
        <ion-icon *ngIf="detail" slot="end" name="chevron-up-outline"></ion-icon>
        <ion-label>课程详情</ion-label>
      </ion-item>
    <ion-item hidden=true></ion-item>
    </ion-item-group>
    <ion-item-group *ngIf="detail"> <!-- style="margin: 0% 3% 1% 3%;"-->
      <ion-item detail [routerLink]="['/organization']" [queryParams]="{'fromUrl': '/course/create-course'}">
        <ion-label>学校学院</ion-label>
        <ion-note class="smallnote" slot="end">{{course.school}} {{course.college}}</ion-note>
      </ion-item>
      <!-- <ion-item>
        <ion-label>学院</ion-label>
        <ion-select (ionChange)="onChangecollege($event)" [(ngModel)]="signup.college"
          interface="action-sheet" [disabled]="isCollegeShow">
          <ion-select-option [value]="item.name" *ngFor="let item of colleges">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label class="biglabel" position="stacked">教学安排</ion-label>
        <ion-textarea [(ngModel)]="course.teachArrange" placeholder="无"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label class="biglabel" position="stacked">考试安排</ion-label>
        <ion-textarea [(ngModel)]="course.testArrange" placeholder="无"></ion-textarea>
      </ion-item>
      <ion-item hidden=true></ion-item>
    </ion-item-group>
  </ion-list>

  

</ion-content>

<ion-footer style="padding-bottom: 5%;">
  <ion-button expand="full" color="primary" style="width: 90%; margin: auto" (click)="onSubmission()">提交</ion-button>
</ion-footer>