<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home" text="返回" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content non-padding>
  <form #passwordForm novalidate>
    <ion-list lines="none">
      <ion-item lines='none'>
        <ion-label position="stacked">输入原密码</ion-label>
        <!-- </ion-item>
      <ion-item> -->
        <ion-input type="password" required [(ngModel)]="oldpassword" name="oldpass" #oldpass="ngModel"
          pattern="[0-9a-zA-Z]{6,12}">
        </ion-input>
      </ion-item>
      <ion-item>
        <!-- <ion-text [hidden]="!oldpass.errors.pattern"  color="danger"
        *ngIf="oldpass.invalid && oldpass.touched">
        密码格式为6至16位的数字字母
      </ion-text> -->
        <ion-text color="danger" *ngIf="oldpass.invalid && oldpass.touched" [hidden]="!oldpass.errors?.required">
          请输入原密码
        </ion-text>
      </ion-item>

      <ion-item lines='none'>
        <ion-label position="stacked">新密码</ion-label>
        <ion-input type="password" required [(ngModel)]="newPassword" name="newpass" #newpass="ngModel"
          pattern="[0-9a-zA-Z]{6,16}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-text [hidden]="!newpass.errors?.required" color="danger" *ngIf="newpass.invalid && newpass.touched">
          请输入新密码
        </ion-text>
        <ion-text [hidden]="!newpass.errors?.pattern" color="danger" *ngIf="newpass.invalid && newpass.touched">
          密码格式为6至16位的数字字母
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">确认密码</ion-label>
        <ion-input type="password" name="confirmPassword" #confirmPassword="ngModel"
          [(ngModel)]="confirmPass" required>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
        <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
          请输入确认密码
        </ion-text>
      </ion-item>

    </ion-list>

  </form>
</ion-content>

<ion-footer style="padding-bottom: 5%;">
  <ion-button expand="full" color="primary" style="width: 90%; margin: auto" (click)="onSave()"
    [disabled]="passwordForm.invalid">确定</ion-button>
</ion-footer>