ion-toolbar {
    --background: transparent;
    --border-color: transparent;
}
// fixed-bottom {
//     position: absolute;
//     bottom: 0;
//     z-index: 10;
// }

// ion-input{    
//     border:1px solid #d2d2d2;
//     background-color:transparent;
//     border-radius: 5px;
//     margin-top: 2%;
//     margin-bottom: 2%;
// }
form{
    padding-top: 5%;
    margin: auto;
    width: 80%;
}
// ion-label {
//     padding-top: 6px;
// }