.listbutton{
    width: 100%;
    padding: 1px;
    margin: 0px;
    // border-left-width: 1px;
    // border-left-style: solid;
    // border-left-color: #d7d8da;
    // border-right-width: 1px;
    // border-right-style: solid;
    // border-right-color: #d7d8da;
}
ion-item{
    margin-bottom: 15px;
}
ion-text{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
ion-col{
    padding: 0px;
}