.label1 {
    margin-left: 15px;
}
.label2 {
    width: fit-content;
    // margin-right: 10px;
    // margin-left: 200px;
}
.p1 {
    font-weight: lighter;
    margin-bottom: 1px;
    padding-right: 18px;
}
.font1 {
    font-size: smaller;
    margin-bottom: 0px;
    margin-top: 8px;
    margin-left: 10%;
}
.experience_h {
    font-weight: bold;
}
.no-margin-top {
    padding-top: 0px;
}
.line1 {
    margin: 0px;
    size: 3px;
}
.ion-toolbar {
    --background: #ffffff;
    --border-color: #3880ff;
    --border-style: solid;
    --border-width: 8px;
    --color: #3880ff;
    --min-height: 56px;
    --opacity: 1;
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    display: contents;
}
